---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---
<h1>Archive</h1>
{% set postsCount = collections.posts | length %}
<p>There are {{ postsCount }} posts in this archive.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
