---
title: Orbital Station
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 10
---

<p style="color: red; border: 2px solid red; border-radius: 10px; padding: 10px;">Hey folks, this is a new site, still a WIP. If you spot any issues, please let me know <a href="">via an issue</a> or <a href="https://alpha.polymaths.social/@orbitalmartian">via the Fediverse</a>.</p>

<b>I'm Orbital, not from this planet, but residing in orbit, alongside all you humans' satellites (so you call them, to us aliens they are old tech space junk) and the Moon.</b>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Blost{% if latestPostsCount != 1 %}s{% endif %}</h1>
<p>Below you shall find the latest blosts from this station's archives.</p>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
