<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta property="og:image" content="https://orbitalmartian.codeberg.page/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	    <link rel="manifest" href="/site.webmanifest">
	    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="stylesheet" href="/css/custom.css">
		<link rel="stylesheet" href="/css/readable.css">

	</head>
	<body>
		<header>
			<h1 class="title">Orbital Station</h1>
			<nav data-style="roundesque">
				<a href="/">Home</a>
				<a href="/blog/">Archive</a>
				<a href="/now/">Now</a>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
			<p><i>© 2024 OrbitalMartian; usable under [CC-BY-NC-SA 4.0]()</i></p>
			<p>
  				A member of the <a href="https://static.quest">Static.Quest</a> web ring!
  				<br />
  				<a href="https://static.quest/previous/?host=orbitalmartian.codeberg.page">&#8592;</a>
	  			<a href="https://static.quest/members">View Members</a>
  				<a href="https://static.quest/next/?host=orbitalmartian.codeberg.page">&#8594;</a>
  				<br />
  				<a href="https://static.quest/random">Feeling lucky?</a>
			</p>
			<p>Site version: {{ metadata.version }}</p>
		</footer>
	</body>
</html>


