---
layout: layouts/base.njk
---
<article>
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<div class="post-metadata">
	<p><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
	<p>{{ page.description }}</p>

	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}
</div>

<hr>

{{ content | safe }}

<hr>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}" rel="prev">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}" rel="next">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}

<div class="comments">
	<details>
		<summary>Click Here For Comments</summary>
		<p><a class="button" href="mailto:orbitalmartian@tuta.io?subject=RE: {{ title }} ">Email Me Your Thoughts!</a></p>
	</details>
</div>
</article>
